@font-face {
	font-family: 'Roboto';
	src: url('../../fonts/Roboto-bold.woff2') format('woff2'),
			 url('../../fonts/Roboto-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;

}
@font-face {
	font-family: 'Roboto';
	src: url('../../fonts/Roboto-medium.woff2') format('woff2'),
			 url('../../fonts/Roboto-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../../fonts/Roboto-regular.woff2') format('woff2'),
			 url('../../fonts/Roboto-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Ubunto';
	src: url('ubuntu-bold.woff2') format('woff2'),
			 url('ubuntu-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;

}
@font-face {
	font-family: 'Ubunto';
	src: url('ubuntu-medium.woff2') format('woff2'),
			 url('ubuntu-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;

}
@font-face {
	font-family: 'Ubunto';
	src: url('ubuntu-regular.woff2') format('woff2'),
			 url('ubuntu-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;

}