.main{
  &__container_card{
    display: block;
  }
}

.head{
  margin-bottom: 50px;

  &__title{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #242424;
  }

  &__args{
    display: flex;
  }

  &__subtitle{
    margin-right: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
  }

  &__descr{
    font-size: 14px;
    line-height: 20px;
    color: #242424; 
  }

  &__article{
    display: flex;
    margin-right: 20px;
  }

  &__buy{
    margin-right: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b; 
  }

  .card__rating{
    margin-right: 20px;
    margin-bottom: 0;

    .card__star:nth-last-child(2){
      margin-right: 10px;
    }
  }
}

.achievement-block{
  flex-basis: 42%;
}

.card-content{
  display: flex;
  grid-column-gap: 30px;
  margin-bottom: 64px;
}

.details{
  flex-basis: 30%;
  
  &__param{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &:nth-child(1){
      justify-content: flex-start;
    }
  }

  &__subtitle{
    margin-bottom: 15px;
  }

  &__models{
    display: flex;
    margin-bottom: 30px;
  }

  &__link{
    display: block;
    width: 72px;
    height: 96px;

    & img{
      width: 100%;
    }

    &:not(:last-child){
      margin-right: 10px;
    }
  }

  &__name{
    flex-shrink: 0;
    margin-right: 10px;
    color: #8b8b8b;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    & span {
      padding-right: 10px;
      background-color: #fff;
      z-index: 2;
    }

    &_dashed{
      position: relative;
      display: flex;
      flex-basis: 80%;
      &::after{
        position: absolute;
        top: 60%;
        width: 100%;
        border-bottom: 1px dashed #8b8b8b;
        content: '';
      }
    }
  }

  &__value{
    flex-basis: 20%;
    flex-shrink: 0;
  }

  &__detail{
    display: inline-block;
    margin-bottom: 30px;
    border-bottom: 1px dashed rgba(139,139,139,.4);
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    transition: color .1s linear,
              border-color .1s linear;;

    &:hover{
      color: #cb11ab;
      border-color: #cb11ab;
    }
  }

  &__product{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
    transition: color .1s linear;

    & svg{
      width: 10px;
      height: 15px;
      margin-left: 5px;
    }

    & svg path{
      transition: stroke .1s linear;
    }

    &:hover{
      color: #cb11ab;

      & svg path{
        stroke: #cb11ab;
      }
    }
  }

  &__term{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    &:not(:last-child){
      margin-bottom: 12px;
    }

    &:nth-child(1){
      &::before{
        width: 20px;
        height: 20px;
        margin-right: 10px;
        content: url(../img/box.svg);
      }
    }

    &:nth-child(2){
      &::before{
        width: 20px;
        height: 20px;
        margin-right: 10px;
        content: url(../img/two-arrow.svg);
      }
    }
  }

}


.control{
  flex-basis: 25%;
  height: fit-content;
  padding: 20px 24px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,.1);

  &__container{
    position: relative;
  }
  &__price{
    display: inline-block;
    margin-bottom: 50px;
    &_new{
      margin-right: 10px;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
    }
    &_old{
      text-align: end;
      text-decoration: line-through;
      border-bottom: 1px dashed #8b8b8b;
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
      cursor: pointer;
      color: #8b8b8b;
    }
  }
  &__save{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;

    & svg path{
      transition: stroke .1s linear;
    }

    &:hover svg path{
      stroke: #cb11ab;
    }
  }
  &__btn{
    width: 100%;
    font-size: 16px;
    padding: 11px 24px 13px;
    line-height: 1.1;
    background-color: #cb11ab;
    border: 2px solid #cb11ab;
    border-radius: 8px;
    color: #fff;
    transition: background-color .1s linear,
    border-color .1s linear;

    &:hover{
      background-color: #e313bf;
      border-color: #e313bf;
    }
  }
}

.description{
  margin-bottom: 64px;
  &__title{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }

  &__cols{
    display: flex;
    justify-content: space-between;
  }

  &__dop-info{
    flex-basis: 45%;
    margin-right: 30px;
  }

  &__descr{
    flex-basis: 30%;
    margin-right: 30px;
  }

  &__company{
    flex-basis: 30%;
  }

  &__subtitle{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
  }

  &__params{
    position: relative;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: height .1s linear;

    &::after{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.466);
      box-shadow: 0 -15px 20px rgba(255, 255, 255, 0.466);
      content: '';
      transition: background-color .1s linear,
      box-shadow .1s linear;
    }

    &.open-list::after{
      background-color: rgba(255, 255, 255, 0);
      box-shadow: 0 -15px 20px rgba(255, 255, 255, 0);
    }

    &.open-list{
      height: 560px;
    }
  }

  &__param{
    display: flex;
    justify-content: space-between;
    &:not(:last-child){
       margin-bottom: 5px;
    }
  }

  &__name{
    flex-shrink: 0;
    margin-right: 10px;
    color: #8b8b8b;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    & span {
      padding-right: 10px;
      background-color: #fff;
      z-index: 2;
    }

    &_dashed{
      position: relative;
      display: flex;
      flex-basis: 60%;
      &::after{
        position: absolute;
        top: 10px;
        width: 100%;
        border-bottom: 1px dashed #8b8b8b;
        content: '';
      }
    }
  }

  &__text{
    position: relative;
    height: 80px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    transition: height .1s linear;

    &::after{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.466);
      box-shadow: 0 -15px 20px rgba(255, 255, 255, 0.466);
      content: '';
      transition: background-color .1s linear,
      box-shadow .1s linear;
    }

    &.open-list::after{
      background-color: rgba(255, 255, 255, 0);
      box-shadow: 0 -15px 20px rgba(255, 255, 255, 0);
    }

    &.open-list{
      height: 500px;
    }
  }
  
  &__value{
    flex-basis: 40%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #242424;
  }
}

.company{
  &__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }

  &__title{
    flex-basis: 100%;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
  }

  &__main-info{
    display: flex;
    flex-wrap: wrap;
  }

  &__tooltip{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;

    &:hover &-text{
      opacity: 1;
      visibility: visible;
    }
  }

  &__tooltip-text{
    position: absolute;
    top: 16px;
    width: 260px;
    padding: 10px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .1s linear;
  }

  &__reviews{
    display: inline-flex;
    align-items: center;
    &::after{
      display: inline-block;
      width: 3px;
      height: 3px;
      margin-right: 8px;
      border: 2ps solid black;
      background: black;
      border-radius: 50px;
      content: '';
    }

    .company__star{
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
  }

  &__count{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }

  &__amount-reviews{
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
  }

  &__item{
    display: flex;
    justify-content: space-between;

    &:not(:last-child){
      margin-bottom: 10px;
    }
  }

  &__icon{
    width: 20px;
    height: 20px;
  }

  &__value{
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;

    & span {
      margin-right: 3px;
      font-weight: 500;
      color: #242424;
    }
  }
}

.similar{
  &__title{
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 32px;
  }

  &__slides{
    position: relative;
  }

  &__slide{
    border-radius: 10px;
    overflow: hidden;
  }

  &__next{
    position: absolute;
    width: 48px;
    right: -20px;
    top: 40%;
    z-index: 10;
    border-radius: 80px;
    box-shadow: 0 0 12px rgba(0,0,0,.1);
    cursor: pointer;
    &::after{
      content: url(../img/arrow-right-whitebg.svg);
    }
  }

  &__prev{
    position: absolute;
    width: 48px;
    left: -20px;
    top: 40%;
    z-index: 10;
    border-radius: 80px;
    box-shadow: 0 0 12px rgba(0,0,0,.1);
    cursor: pointer;
    &::after{
      content: url(../img/arrow-left-whitebg.svg);
    }
  }
}

.btn_lister{
  font-size: 14px;
  text-align: start;
  line-height: 20px;
  font-weight: 400;
  border-bottom: 1px dashed rgba(139,139,139,.4);
  color: #242424;
}