.main_form{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
}
.main__container_form{
  height: 80vh;
  width: 80vw;
}
.form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &__slide{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    min-height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.427);
  }

  &__title{
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
  }

  &__descr{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
  }

  &__list{
    margin-bottom: 40px;
  }

  &__item{
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }

  input[type=text]{
    height: 35px;
    width: 50%;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    background-color: transparent;
  }

  &__btns{
    position: absolute;
    bottom: 0;
  }

  &__btn{
    width: 130px;
    height: 30px;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    color: #fff;
    opacity: 1;
    transform: opacity .1s linear;

    &.--hidden-btn{
      opacity: 0;
      visibility: hidden;
    }
  }
}