.header{
  padding: 20px 0 0;
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &::after{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 30px 30px 0 0;
    background-color: #fff;
    content: '';
  }

  &__container{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .nav{
    &__burger{
      width: 48px;
      height: 48px;
      padding: 9px;
      margin-right: 20px;
      border: 1px solid rgba(255,255,255,.4);
      border-radius: 8px;
      transition: $transBorder;

      &::before{
        position: relative;
        left: 0;
        bottom: 5px;
        display: block;
        width: 28px;
        height: 4px;
        border-radius: 10px;
        background-color: #fff;
        content: '';
      }

      &::after{
        position: relative;
        left: 0;
        top: 5px;
        display: block;
        width: 28px;
        height: 4px;
        border-radius: 10px;
        background-color: #fff;
        content: '';
      }

      &:hover{
        border: 1px solid rgba(255, 255, 255, 1)
      }
    }

    &__icon{
      position: relative;
      left: 0;
      top: 0;
      display: block;
      width: 28px;
      height: 4px;
      border-radius: 10px;
      background-color: #fff;
    }
    &__menu{
      position: absolute;
      left: -400px;
      top: 0;
      height: 100vh;
      transition: $transTransform;
      z-index: 20;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.122);

      &.active-menu{
        left: 0;
      }
    }

    &__list{
      width: 320px;
      height: 100%;
      padding: 20px 40px;
      background-color: #fff;
    }

    &__item{
      padding: 5px 5px;
      border-radius: 10px;
      transition: $transBg;
      cursor: pointer;
      &:not(:last-child){
        margin-bottom: 10px;
      }

      &:hover{
        background-color: #cb11ab;

        & .nav__link{
          color: #fff;
        }
      }
    }

    &__link{
      font-size: 16px;
      color: #242424;
      transition: $transColor;
    }

    &__close{
      position: absolute;
      right: -48px;
      top: 0;
      width: 48px;
      height: 48px;
      &::before{
        position: absolute;
        left: 0;
        top: 22px;
        display: block;
        width: 28px;
        height: 4px;
        border-radius: 10px;
        background-color: #fff;
        transform: rotate(-45deg);
        content: '';
      }

      &::after{
        position: absolute;
        left: 0;
        bottom: 22px;
        display: block;
        width: 28px;
        height: 4px;
        border-radius: 10px;
        background-color: #fff;
        transform: rotate(45deg);
        content: '';
      }
    }
  }

  &__content{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__btns{
    display: flex;
    justify-content: space-between;
    flex-basis: 20%;
  }

  &__btn{
    position: relative;

    &:not(:last-child){
      margin-right: 20px;
    }

    &:hover{
      & .header__btn-text{
        color: #fff;
      }
    }
  }

  &__icon{
    display: block;
  }

  &__btn-text{
    font-size: 14px;
    line-height: 20px;
    color: rgba(255,255,255,.6);
    transition: $transColor;
  }
}